@inherits LayoutComponentBase

<PageTitle>Bench Management</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <img src="img\bjss-logo.png" alt="BJSS logo" width="100em" height="55em">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
