@page "/"
@using Models
@using BJSS.BenchManagement.UI.Services
@inject BenchState BenchState

<PageTitle>List</PageTitle>

<h1>Current Members</h1>


    <PlayerCard Players="@Players" />


@code {
    public List<BenchPlayer> Players = new();
        @* new List<BenchPlayer> 
        { 
            new BenchPlayer() 
            { 
                FullName = "Damásio Sabino", 
                Role = "Software Engineer"
            },
            new BenchPlayer() 
            { 
                FullName = "Josué Costa", 
                Role = "Software Engineer"
            } 
        }; *@

    protected override Task OnInitializedAsync()
    {
        Players = BenchState.GetAllPlayers().Result.ToList();
        return base.OnInitializedAsync();
    }
}

