@page "/"
@using BJSS.BenchManagement.UI.Models
@using BJSS.BenchManagement.UI.Services
@inject BenchState BenchState

<PageTitle>List</PageTitle>

<h1>Current Members</h1>


    <PlayerCard Players="@Players" />


@code {
    public List<BenchPlayer> Players = new();
       

    protected override async Task OnInitializedAsync()
    {
        var response = await BenchState.GetAllPlayers();
        Players  = response.ToList();
    }
}

